<!--
  Generated template for the EstadisticasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>estadísticas</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="bg-image" padding>
    
    <h2><label>Estadisticas de "{{Encuesta}}"</label></h2>
    <h4><label>Pregunta: "{{pregunta}}"</label></h4>
    <div *ngIf="tipo == 'P'">
          <div *ngFor="let i of ListaRespuestas"> 
          <!--<label> {{i.respuesta}} {{i.cantidad}} </label>-->
          <label> {{i}}</label>
          </div>
    </div>
    <div *ngIf="tipo != 'P'">
   <canvas  id="myChart">
   </canvas>

</div>
<button (click)="hola()"></button>
  </ion-content>
  <div left bottom>
      <button ion-fab color="dark" (click)="presentActionSheet()"><ion-icon ios="ios-menu" md="md-menu"></ion-icon></button>
  </div>