page-home {
    .botones {
        background-image: url("../assets/imgs/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .imgbtn {
        background-image: url("../assets/imgs/asist.png");
        background-position: center;
        background-size: cover;
        color: rgb(12, 27, 196);
        width: 100%;
        height: 32%;
        font-size: 32px;
        font-family: 'Segoe UI';
    }
    .imgbtn2 {
        background-image: url("../assets/imgs/enc.png");
        background-position: center;
        background-size: cover;
        color: rgb(12, 27, 196);
        width: 100%;
        height: 32%;
        font-size: 32px;
        font-family: 'Segoe UI';
    }
    .imgbtn3 {
        background-image: url("../assets/imgs/est.png");
        background-position: center;
        background-size: cover;
        color: rgb(12, 27, 196);
        width: 100%;
        height: 32%;
        font-size: 32px;
        font-family: 'Segoe UI';
    }
}