page-encuestas {
    .down2 {
        position: relative;
        top: 101%;
        transform: translateY(-50%);
    }
    .tutorial {
        background-image: url("../assets/imgs/encuesta.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial1 {
        background-image: url("../assets/imgs/encuesta1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial2 {
        background-image: url("../assets/imgs/encuesta2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial3 {
        background-image: url("../assets/imgs/encuesta3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial4 {
        background-image: url("../assets/imgs/encuesta4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial5 {
        background-image: url("../assets/imgs/encuesta5.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial6 {
        background-image: url("../assets/imgs/encuesta6.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial7 {
        background-image: url("../assets/imgs/encuesta7.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    label {
        color: white;
    }
}