page-inicio {
    .submit-btn {
        background: rgb(34, 58, 246);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .submit-btn:hover,
      .submit-btn:focus {
        background: rgb(109, 113, 227);
      }


      .bg-image 
      { background-image: url("../assets/imgs/bg.png"); 
          background-repeat: no-repeat; 
          background-position: center; 
          background-size: cover; 
      }

      .espanol
      {   
        background-image: url("../assets/banderas/espana.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }

      .ruso
      {   
        background-image: url("../assets/banderas/rusia.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }

      .ingles
      {   
        background-image: url("../assets/banderas/reino-unido.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }

      .frances
      {   
        background-image: url("../assets/banderas/francia.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }

      .aleman
      {   
        background-image: url("../assets/banderas/alemania.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }

      .portugues
      {   
        background-image: url("../assets/banderas/portugal.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }

      .bg-Perfil 
      { 
          background-image: url("../assets/imgs/perfil.png"); 
          background-repeat: no-repeat; 
          background-position: center; 
          background-size: cover; 
      }

      .bg-Menu 
      { 
          background-image: url("../assets/imgs/logo.png"); 
          background-repeat: no-repeat; 
          background-position: center; 
          background-size: cover; 
      }
      
      .geolocalizacion
      {   
        background-image: url("../assets/banderas/google.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        border-radius: 10px;
      }
}
.alertQR{
    
    .alert-wrapper
    {
      border-radius: 10px 10px 10px 10px;
      text-align: center;
      background: rgb(109, 113, 227);
    }
    .alert-button-group
    { 
      padding-right: 100px;
      background-color: black;
      .button-inner
      {

        color: white;
        font-size: 2em;
      }
    }
    .alert-title
    {
    color: white;
    text-align: center;
   
    font-size: 2.0em;
    }
    .alert-sub-title
    {
   
    text-align: center;
    color: white;
    font-size: 1.8em;
    }
}