page-encuesta-estadistica {
    .down2 {
        position: relative;
        top: 95%;
        transform: translateY(-50%);
    }
    .tutorial {
        background-image: url("../assets/imgs/responder1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
    .tutorial2 {
        background-image: url("../assets/imgs/responder2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
}