<ion-header>
    <ion-navbar color="dark">
        <ion-title>Asistencia</ion-title>
    </ion-navbar>
    <ion-fab top right>
        <button ion-fab color="light">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-fab-list side="bottom">
            <button ion-fab color="primary">
                <ion-icon name="contact"></ion-icon>
            </button>
            <button ion-fab color="secondary">QR</button>
        </ion-fab-list>
    </ion-fab>
</ion-header>
<ion-content padding class="bg-image">
    <div class="form_wrapper animated slideInLeft" [hidden]="mostrar">

        <div>
            <label style="color:white; font-size:15px">Elija el metodo</label>


            <select [(ngModel)]="opcion" (ngModelChange)='f()'>
                    <option value="PPS">PPS</option>
                    <option value="LAB4">LAB4</option>
                </select>






            <br>
        </div>
    </div>
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Asistio</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of cant">
            <tr *ngIf="item.tipo == 'alumno'">
                <td *ngIf="item.actividad == 'activo'">
                    <ion-toggle color="secondary" [(ngModel)]="item.vino"></ion-toggle>
                </td>
                <td *ngIf="item.actividad == 'activo'">
                    {{item.legajo}}
                </td>
                <td *ngIf="item.actividad == 'activo'">
                    {{item.usuario}}
                </td>
                <td *ngIf="item.actividad == 'activo'">
                    {{item.id}}
                </td>
            </tr>
        </tbody>
    </table>-->
</ion-content>