<ion-header>
    <ion-navbar color="dark">
    </ion-navbar>
</ion-header>


<ion-content class="bg-image" padding>
    <div *ngIf="idioma == 'espanol'">
        <div class="form_wrapper animated bounceInLeft" [hidden]="contestando">
            <div [hidden]="encuestasPendientes">
                <h3>Tiene las siguientes encuestas disponibles</h3>
                <div *ngFor="let item of encues">
                    <div *ngIf="item != ''">
                        <button (click)="responder(item)">{{item}}</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!encuestasPendientes" class="bottom">
                <label>No tiene encuestas pendientes</label>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="idioma == 'frances'">
        <div class="form_wrapper animated bounceInLeft" [hidden]="contestando">
            <div [hidden]="encuestasPendientes">
                <h3>a les enquêtes suivantes disponibles</h3>
                <div *ngFor="let item of encues">
                    <div *ngIf="item != ''">
                        <button (click)="responder(item)">{{item}}</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!encuestasPendientes" class="bottom">
                <label>n'a pas d'enquêtes en attente</label>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="idioma == 'ingles'">
        <div class="form_wrapper animated bounceInLeft" [hidden]="contestando">
            <div [hidden]="encuestasPendientes">
                <h3>you have the following surveys available</h3>
                <div *ngFor="let item of encues">
                    <div *ngIf="item != ''">
                        <button (click)="responder(item)">{{item}}</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!encuestasPendientes" class="bottom">
                <label>No pending surveys</label>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="idioma == 'ruso'">
        <div class="form_wrapper animated bounceInLeft" [hidden]="contestando">
            <div [hidden]="encuestasPendientes">
                <h3>имеются следующие обследования</h3>
                <div *ngFor="let item of encues">
                    <div *ngIf="item != ''">
                        <button (click)="responder(item)">{{item}}</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!encuestasPendientes" class="bottom">
                <label>нет доступных обследований</label>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="idioma == 'aleman'">
        <div class="form_wrapper animated bounceInLeft" [hidden]="contestando">
            <div [hidden]="encuestasPendientes">
                <h3>hat die folgenden Umfragen zur Verfügung</h3>
                <div *ngFor="let item of encues">
                    <div *ngIf="item != ''">
                        <button (click)="responder(item)">{{item}}</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!encuestasPendientes" class="bottom">
                <label>Es sind keine Umfragen verfügbar</label>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="idioma == 'portugues'">
        <div class="form_wrapper animated bounceInLeft" [hidden]="contestando">
            <div [hidden]="encuestasPendientes">
                <h3>tem os seguintes inquéritos disponíveis</h3>
                <div *ngFor="let item of encues">
                    <div *ngIf="item != ''">
                        <button (click)="responder(item)">{{item}}</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!encuestasPendientes" class="bottom">
                <label>não tem inquéritos pendentes</label>
                <br>
            </div>
        </div>
    </div>
</ion-content>