<ion-content class="bg-image" padding>
    <div class="form_wrapper animated bounceInLeft">
        <h3>Crear Encuesta</h3>
        <div *ngIf="alumno.tipo == 'P'">
            
        </div>
        <div *ngIf="alumno.tipo == 'P'">
                <label>{{alumno.quest}}</label>
            <!--<input type="text" placeholder="Ingrese respuesta" [(ngModel)]="respuestas[item.indice]" />-->
        </div>

        <div *ngIf="alumno.tipo == 'U'">
            <label>{{alumno.quest}}</label>
                
            <div *ngFor="let i of alumno.opciones">
                <label>{{alumno.quest}}</label>
                <input [(ngModel)]="respuestas[alumno.indice]" value="{{i}}" type="radio" name="i">
                <label>{{ i }}</label>
            </div>
        </div>
        <div *ngIf="alumno.tipo == 'M'">
            <label>{{alumno.question}}</label>
            <input color="encuestas" style="margin-left: 5%" [(ngModel)]="respuestas[alumno.indice]" type="checkbox" name="check" />
        </div>
    </div>
    <button (click)="enviar()" ion-button color="encuestas">Enviar respuesta</button>
</ion-content>