page-login {
    input:focus {
        opacity: 0.8;
        -webkit-animation-name: shake;
        -moz-animation-name: shake;
        -ms-animation-name: shake;
        -o-animation-name: shake;
        animation-name: shake;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
    }
    .down2 {
        position: relative;
        top: 90%;
        transform: translateY(-50%);
        transform: translateX(30%);
    }
    .tutorial {
        background-image: url("../assets/imgs/login.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 92%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        top: 47%;
        transform: translateY(-50%);
    }
}