<<<<<<< HEAD
page-empleados {
    .down {
        position: relative;
        top: 30%;
        transform: translateY(-20%);
    }
=======
page-empleados {
    .down {
        position: relative;
        top: 30%;
        transform: translateY(-20%);
    }
>>>>>>> origin/master
}