<!--
  Generated template for the EncuestasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

    <ion-navbar>
        <ion-title>encuestas</ion-title>
    </ion-navbar>
    <ion-fab top right>
        <button ion-fab color="light">  <ion-icon name="menu"></ion-icon></button>
        <ion-fab-list side="bottom">
            <button ion-fab color="primary">  <ion-icon name="contact"></ion-icon></button>
            <button ion-fab color="secondary">QR</button>

        </ion-fab-list>
    </ion-fab>
</ion-header>


<ion-content padding class="bg-image">

</ion-content>-->
<!--
  Generated template for the EstadisticaEncuestaPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="dark">
    </ion-navbar>
</ion-header>

<ion-content class="bg-image" padding>
    <div class="form_wrapper animated bounceInLeft">

        <h3>Crear Encuesta</h3>

        <div [hidden]="mostrar">
            <label>Materia</label>
            <select [(ngModel)]="materia" (change)='f()'>
                <option value="PPS">PPS</option>
                <option value="LAB4">LAB4</option>
            </select>


            <div class="animated bounceInLeft" [hidden]="cursar">

                <label>Elija el curso</label>
                <select [(ngModel)]="curso" (change)="g()">
                <option value="4A">4A</option>
                <option value="4B">4B</option>
            </select>

            </div>

            <br>
        </div>

        <div [hidden]="datos">



            <div>
                <label>Nombre de la encuesta</label>
                <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
            </div>
            <div>

                <label>Cantidad de horas</label>
                <ion-input type="number" [(ngModel)]="horas" required></ion-input>
            </div>

            <div>

                <label>Formato</label>
                <select [(ngModel)]="formato">
                    <option value="U">Con opciones</option>                  
                    <option value="P">Respuesta propia</option>
                 </select>

            </div>


            <div *ngIf="formato=='U'" class="animated bounceInLeft">
                <label>Cantidad de Respuestas</label>
                <select [(ngModel)]="cantidad" interface="popover" (ionChange)="mychange($event)">
                        <option value="2">2</option>
                            <option value="3">3</option>
                                <option value="4">4</option>
                                    <option value="5">5</option>
                    </select>
            </div>
            <div>
                <label> Pregunta</label>
                <ion-input type="text" [(ngModel)]="question" required></ion-input>
            </div>
            <br>
            <div *ngFor="let item of cant" class="animated bounceInLeft">

                <div *ngIf="item<=cantidad && formato=='U' " style="padding-top:0px;padding-bottom:0px;">
                    <label>Respuestas</label>
                    <ion-input type="text" placeholder="Respuesta {{item}}" [(ngModel)]=option[item] required></ion-input>

                </div>
            </div>






            <div [hidden]="boton" class="bottom">
                <button ion-button (click)="AgregarQuestion()" color="encuestas" [disabled]="question==null ||  question==''" full>Agregar Pregunta</button>
                <button ion-button (click)="SubirQuestion()" color="encuestas" full [disabled]="encuesta.length == 0 || horas == null || horas <= 0 ||  nombre == ''">Subir Cuestionario</button>
            </div>


        </div>
        <div [hidden]="otra">
            <label>Encuesta creada</label>
            <div class="bottom">
                <button ion-button (click)="otraE()" color="encuestas" full>Realizar Otra?</button>
            </div>

        </div>
    </div>
</ion-content>