<ion-header>
  <ion-navbar>
    <ion-title>
      Excel
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <!--<ion-item-group>
        <ion-item-divider color="light">Datos</ion-item-divider>
        <ion-item *ngFor="let item of csvItem">
          legajo: {{ item.legajo }}, alumno: {{ item.nom }} {{ item.ape }}, dia: {{ item.dia }}
        </ion-item>
     </ion-item-group>-->
  <input type="file" (change)="handleUpload($event)">
  <button ion-button (click)="readCsvData()">leer csv</button>
  <button ion-button (click)="prueba()">prueba</button>
  <a href='#' (click)='downloadCSV({ filename: "stock-data.csv" });'>Download CSV</a>
  <!--<img [src]="logo" alt="">
     <ng2-smart-table [settings]="settings" [source]="cant" (delete)="delete($event)"></ng2-smart-table>-->
  <thead>
    <th>Legajo</th>
    <th>e-mail</th>
    <th>Usuario</th>
    <th>ID</th>
    <th>Borrar</th>
  </thead>
  <tbody *ngFor="let item of cant">
    <td *ngIf="item.actividad == 'activo'">
      {{item.legajo}}
    </td>
    <td *ngIf="item.actividad == 'activo'">
      {{item.email}}
    </td>
    <td *ngIf="item.actividad == 'activo'">
      {{item.usuario}}
    </td>
    <td *ngIf="item.actividad == 'activo'">
      {{item.id}}
    </td>
    <td *ngIf="item.actividad == 'activo'">
      <button ion-button danger (click)="delete(item.legajo)">borrar</button>
    </td>
  </tbody>
</ion-content>